<div class="col-lg-10 col-lg-offset-1">
<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <%= render 'partials/new_event', event_id: nil %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="feed" class="well feed">
          <%= render(@events) || "" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
