<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div id="landing-content" class="col-lg-9">
        <h3><b>Welcome to Chronos,</b></h3>
        <p>
          A scheduling app, built on Rails, designed to empower user time management.
        </p>
      </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="well">
                    <%= render "devise/sessions/form" %>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create an Account</h3>
                    </div>
                    <div class="panel-body">
                        <%= render "devise/registrations/form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div
</div>

